.container {
    margin-top: 30px;
    // background-color: aqua;
    height: calc(100vh - 157px);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "card-one card-one card-one"
    "card-four card-four card-three";
}

.card_one{
    background-color: white;
    border-radius: 11px;
    display: block;
    align-content: center;
    padding: 10px 40px;
}

// .card_three {
//     // background-color: white;
//     // border-radius: 11px;
//     // padding: 10px;
// }

.card_four {
    background-color: white;
    border-radius: 11px;
    // display: block;
    // align-content: center;
    padding: 10px 40px;
}

.title {
    margin: 20px 0;
}
.card_one {
    grid-area: card-one;
}

.card_two {
    grid-area: card-two;
}

.card_three {
    grid-area: card-three;
}

.card_four {
    grid-area: card-four;
}


@media screen and (max-width: 915px) {

    .container {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "card-one"
        "card-four"
        "card-three";
    }

    .card_one, .card_four{
        padding: 5px 20px;
    }

}

@media screen and (max-width: 685px) {
    .container {
        margin-top: 0px;
    }
}